* {
  box-sizing: border-box;
  background-color: beige;
}


h1  {
  font-family: sans-serif;
  font-size: 52px;
  color: violet; 
}

body {
    width: 100%;
    margin: auto;
  }

.main-header  {
  padding:  1.5em;
  background: lightgrey;
  margin-bottom: 1.5em;
}

.end  {
    padding:  1.5em;
    background: lightgrey;
  }


a:link {
 color: purple;
}

a:hover {
  color: hotpink;
}



.horlist {
    overflow: hidden;
    float: left;
}

.dwin  {
  text-align: center;

}

a {
    display: table-row;
    padding: 8px;
    background-color: plum;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ol,
ul {
 margin: 0;
 padding: 0;
 list-style: none;
}

.col  {
  display: flex;
  margin: auto;
}
